<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css" />
        <script src="webjars/bootstrap/5.2.3/js/bootstrap.min.js" defer></script>
        <script src="webjars/sockjs-client/1.5.1/sockjs.min.js" defer></script>
        <script src="webjars/stomp-websocket/2.3.4/stomp.min.js" defer></script>

    </head>

    <body>

        <div class="container">
            <a th:href="@{/logout}">Logout</a>
            <a th:href="@{/minerador/start}">Minerar PilaCoin</a>
            <a th:href="@{/minerador/stop}">Parar mineração de PilaCoin</a>
            <a th:href="@{/validacao/start}">Validar PilaCioin de outro Usuário</a>
            <a th:href="@{/validacao/stop}">Parar validação de PilaCoin de outro Usuário</a>
            <a th:href="@{/descobrir-bloco/start}">Minerar Bloco</a>
            <a th:href="@{/descobrir-bloco/stop}">Parar mineração de Bloco</a>
        </div>

        <table border="1px">

            <thead>

                <tr>

                    <th>Nonce</th>
                    <th>Data de criação</th>

                </tr>

            </thead>

            <tbody>

                <tr th:each="pila : ${pilas}">
                    <td th:text="${pila.nonce}"></td>
                    <td th:text="${pila.dataCriacao}"></td>
                </tr>

            </tbody>

        </table>

    </body>

</html>