<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

        <meta charset="UTF-8">
        <title>PilaCoin Sistema de Acesso</title>

    </head>

    <body>

        <form th:action="@{/login}" method="post">

            <label for="email">
                Email:
                <input type="email" name="email" id="email" />
            </label>

            <label for="senha">
                Senha:
                <input type="password" name="senha" id="senha" />
            </label>

            <button type="submit">Acessar</button>

        </form>

    </body>

</html>